.widget {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 5em;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    background-color: pink;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.widget p {
    line-height: 1;
}